@font-face {
	font-family: IBMPlexMono;
	src: url(../Fonts/IMB_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: IBMPlexMono-Medium;
	src: url(../Fonts/IMB_Plex_Mono/IBMPlexMono-Medium.ttf);
}
