.header {
	&__welcomeVisitors {
		display: flex;
		align-items: center;
		height: 2.3rem;
		background-image: $color-bg-gradienSailorDay;
		box-shadow: 0 1px 0 0 $color-boxshadow-blueDark;

		p {
			margin: 0 1rem;
			font-size: 1.2rem;
			color: #ffffff;
		}
	}

	&__logo {
		position: absolute;
		top: 6.2rem;
		left: 10rem;
	}
}

.nav {
	display: flex;
	justify-content: flex-end;
	margin: 4.4rem 10rem;
	align-items: center;

	&__dropdown {
		margin: 0 2rem;
	}

	&__btn--dropdown {
		// border: 1px solid #110038;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 16.7rem;

		.text {
			width: 13.1rem;
			color: #110038;
			height: 3.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #f7c9f3;
			border: 0.2px solid $color-boxshadow-blueDark;
			border-right: none;
			box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
			position: relative;
		}

		.arrow {
			width: 3.6rem;
			height: 3.2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f7c9f3;
			border: 0.2px solid $color-boxshadow-blueDark;
			box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
			position: relative;
			// z-index: 3;
		}
	}

	&__list {
		display: none;
		position: absolute;
		width: 16.7rem;
		height: 10.2rem;
		background: #e6e6e6;
		box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
		z-index: 5;

		.button-inside {
			color: #110038;
			margin: 0.6rem 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15rem;
			text-align: center;
			height: 3rem;
			text-decoration: none;
			border: 1px solid $color-boxshadow-blueDark;
			box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
		}
		.sailorDay {
			background: #fff4fd;
		}
	}

	&__btn--normal {
		color: #110038;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		width: 8rem;
		height: 3.2rem;
		border: 1px solid transparent;
		&:hover {
			border: 1px dotted #110038;
		}
		&:active {
			color: #b4b4b4;
			border: 1px solid transparent;
		}
	}
	&__btn--sailorNight {
		color: #ffffff;
		&:hover {
			border: 1px dotted #ffffff;
		}
		&:active {
			color: #b4b4b4;
			border: 1px solid transparent;
		}
	}
}
.dotted {
	&:hover {
		.dotted__text {
			background: #e6bbe2;
			box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
			&::after {
				content: '';
				width: 95%;
				height: 80%;
				border: 1px dotted #110038;
				position: absolute;
			}
		}
		.dotted__arrow {
			background: #e6bbe2;
			box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
			position: relative;
			&::after {
				content: '';
				width: 83%;
				height: 80%;
				border: 1px dotted #110038;
				position: absolute;
				right: 5%;
			}
		}
	}
}

.show {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searcher {
	padding: 0.2rem;
	margin: 0 10rem;
	height: 9.9rem;
	background: #e6e6e6;
	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
	position: relative;

	&__name {
		height: 2.4rem;

		color: white;
		font-family: ChakraPetch-Bold;
		display: flex;
		align-items: center;
		padding-left: 1rem;
		background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
	}

	&__flexBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		width: 90%;
		outline: none;
		font-size: 1.6rem;
		font-family: ChakraPetch-Regular;
		margin: 1.2rem 1.2rem;
		height: 4.8rem;
		border: 1px solid #979797;
		box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 1px 1px 0 0 #000000;
	}

	&__button {
		color: #b4b4b4;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-right: 1rem;
		margin-right: 1.2rem;
		width: 10.2rem;
		height: 3.6rem;
		border: 1px solid #808080;
		box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
		text-decoration: none;
	}
	.pushed_button {
		color: #110038;
		background: #f7c9f3;
		border: 1px solid #110038;
		box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
		position: relative;

		&:active {
			&::after {
				content: '';
				width: 96%;
				height: 90%;
				border: 1px dotted #110038;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50.8%, -50%);
			}
		}
	}
}
.help__list {
	display: none;
	position: absolute;
	z-index: 3;
	width: 100%;
	padding: 1.6rem 0;
	top: 10.2rem;
	left: 0;
	background: #e6e6e6;
	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

	.buttonHelp {
		display: flex;
		align-items: center;
		text-decoration: none;
		width: 86.5%;
		padding-left: 1rem;
		height: 3.6rem;
		margin-left: 1.6rem;
		background: #f0f0f0;
		border: 1px solid #808080;
		box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
		position: relative;

		&:hover {
			background: #e6e6e6;
			&::after {
				content: '';
				width: 99.6%;
				height: 90%;
				border: 1px dotted #110038;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.show_helpMenu {
	display: flex;
	flex-direction: column;
}

.change_color_body {
	background-color: #110038;
}
.change_color_gradient {
	background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
	box-shadow: 0 1px 0 0 #110038;
}
