.header {
	&__welcomeVisitors {
		@include flex(null, center, null);
		height: 2.3rem;
		font-size: 1.2rem;
		padding: 0 1rem;
		color: $color-secondary;
		background-image: $color-bg-gradientSailorDay;
		box-shadow: 0 1px 0 0 $color-primary;
	}

	&__logo {
		position: absolute;
		top: 6.2rem;
		left: 10rem;
	}
}

.nav {
	@include flex(flex-end, center, null);
	margin: 4.4rem 10rem;

	&__btn--dropdown {
		@include flex(space-between, center, null);
		width: 16.7rem;

		.text {
			@include flex(center, center, null);
			width: 13.1rem;
			height: 3.2rem;
			position: relative;
			color: $color-primary;
			@include button-decoration-sDay;
			border-right: none;
		}

		.arrow {
			@include flex(center, center, null);
			width: 3.6rem;
			height: 3.2rem;
			@include button-decoration-sDay;
		}
	}

	&__list {
		display: none;
		z-index: 1;
		width: 16.7rem;
		height: 10.2rem;
		position: absolute;
		background: $color-whiteGrey;
		box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

		.button-inside {
			@include flex(center, center, null);
			width: 15rem;
			height: 3rem;
			margin: 0.6rem 0;
			color: $color-primary;
			text-decoration: none;
			background: $color-pale-whiteGrey;
			border: 1px solid $color-medium-gray;
			box-shadow: inset -1px -1px 0 0 $color-light-gray, inset 1px 1px 0 0 $color-secondary;

			&:hover {
				background: $color-lighter-whitePurple;
				border: 1px solid $color-pale-whitePurple;
			}
		}
	}

	&__btn--normal {
		@include flex(center, center, null);
		width: 8rem;
		height: 3.2rem;
		margin-left: 2rem;
		text-decoration: none;
		color: $color-primary;
		border: 1px solid transparent;

		&:hover {
			border: 1px dotted $color-primary;
		}

		&:active {
			color: $color-light-gray;
			border: 1px solid transparent;
		}
	}
}

.dotted {
	&:hover {
		.dotted__text {
			background: $color-whitePurple;
			box-shadow: inset -1px -1px 0 0 $color-pale-purple, inset 1px 1px 0 0 $color-secondary;

			&::after {
				content: '';
				width: 95%;
				height: 80%;
				position: absolute;
				border: 1px dotted $color-primary;
			}
		}

		.dotted__arrow {
			position: relative;
			background: $color-whitePurple;
			box-shadow: inset -1px -1px 0 0 $color-pale-purple, inset 1px 1px 0 0 $color-secondary;

			&::after {
				content: '';
				right: 5%;
				width: 83%;
				height: 80%;
				position: absolute;
				border: 1px dotted $color-primary;
			}
		}
	}
}

/* appears when the user press the dropdown menu (select theme) */
.show {
	@include flex(center, center, column);
}
/* END */

.searcher {
	height: 9.9rem;
	padding: 0.2rem;
	margin: 0 10rem;
	position: relative;
	background: $color-whiteGrey;
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

	&__name {
		@include flex(null, center, null);
		height: 2.4rem;
		padding-left: 1rem;
		color: $color-secondary;
		font-weight: bold;
		background-image: $color-bg-gradientSailorDay;
	}

	&__flexBox {
		@include flex(space-between, center, null);
	}

	&__input {
		width: 90%;
		outline: none;
		height: 4.8rem;
		font-size: 1.6rem;
		margin: 1.2rem 1.2rem;
		border: 1px solid $color-mediumLow-gray;
		box-shadow: inset -2px -2px 0 0 $color-whiteGrey, inset 1px 1px 0 0 $color-primary;
	}
}

.help__list {
	display: none;
	position: absolute;
	z-index: 3;
	width: 100%;
	padding: 1.6rem 0;
	top: 10.2rem;
	left: 0;
	background: $color-whiteGrey;
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

	.buttonHelp {
		@include flex(null, center, null);
		position: relative;
		text-decoration: none;
		width: 86.5%;
		padding-left: 1rem;
		height: 3.6rem;
		margin-left: 1.6rem;
		background: $color-pale-whiteGrey;
		border: 1px solid $color-medium-gray;
		box-shadow: inset -1px -1px 0 0 $color-light-gray, inset 1px 1px 0 0 $color-secondary;

		&:hover {
			background: $color-whiteGrey;
			&::after {
				content: '';
				width: 99.6%;
				height: 90%;
				border: 1px dotted $color-primary;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

/* appears when the user press the dropdown help menu */
.show_helpMenu {
	@include flex(null, null, column);
}
