.change_color_body {
	background-color: $color-primary;
}
.change_color_gradient {
	background-image: $color-bg-gradientSailorNight;
	box-shadow: 0 1px 0 0 $color-primary;
}

.button_sailorNight {
	background: $color-light-purple;
	color: $color-secondary;

	&:hover {
		@include bg-buttons-sNight;
	}
}

.dualBtn_sailorNight {
	&:hover {
		.textButton_sailorNight {
			color: $color-secondary;
			border: 1px solid $color-primary;
			@include bg-buttons-sNight;
		}

		.arrowButton_sailorNight {
			@include bg-buttons-sNight;
			border: 1px solid $color-primary;
		}
	}

	.textButton_sailorNight {
		background: $color-light-purple;
		color: $color-secondary;
	}

	.arrowButton_sailorNight {
		background: $color-light-purple;
	}
}

.nav__list-sailorNight {
	background: $color-light-gray;
	box-shadow: inset -2px -2px 0 0 $color-medium-gray, inset 2px 2px 0 0 $color-secondary;

	.button-sailorNight {
		background: $color-Lighter-gray;
		border: 1px solid $color-medium-gray;
		box-shadow: inset -1px -1px 0 0 $color-light-gray, inset 1px 1px 0 0 $color-secondary;

		&:hover {
			background: $color-blue;
			border: 1px solid rgba(51, 53, 143, 0.2);
			box-shadow: inset -1px -1px 0 0 $color-Lighter-gray, inset 1px 1px 0 0 $color-secondary;
			color: $color-secondary;
		}
	}
}

.nav__btn--sailorNight {
	color: $color-secondary;

	&:hover {
		border: 1px dotted $color-secondary;
	}

	&:active {
		color: $color-light-gray;
		border: 1px solid transparent;
	}
}

.hashtag-color-gradient {
	.gifContainer-sailorNight {
		background: $color-light-gray;
		box-shadow: inset -2px -2px 0 0 $color-dark-gray, inset 2px 2px 0 0 $color-secondary;
		.hashtag-sailorNight {
			background-image: $color-bg-gradientSailorNight;
		}
	}
}

.search_container {
	background: $color-light-gray;
	box-shadow: inset -2px -2px 0 0 $color-medium-gray, inset 2px 2px 0 0 $color-secondary;
	.changeColorGradient-sNight {
		background-image: $color-bg-gradientSailorNight;
	}

	.help_dropd-sNight {
		background: $color-light-gray;
		box-shadow: inset -2px -2px 0 0 $color-medium-gray, inset 2px 2px 0 0 $color-secondary;

		.buttonHelp-sNight {
			background: $color-Lighter-gray;
			border: 1px solid $color-medium-gray;
			box-shadow: inset -1px -1px 0 0 $color-light-gray, inset 1px 1px 0 0 $color-secondary;
		}
	}
}

.searchBtn-sNight {
	color: $color-medium-gray;
}

.searchBtn-sNight-pushed {
	color: $color-secondary;
	position: relative;
	border: 1px solid $color-primary;
	background: $color-light-purple;
	box-shadow: inset -1px -1px 0 0 $color-purple, inset 1px 1px 0 0 $color-secondary;

	&:active {
		border: 1px solid $color-primary;
		@include bg-buttons-sNight;

		&::after {
			@include dotted-lines-button;
		}
	}
}
.hashtag-color-gradient {
	.gifContainer-sailorNight {
		.button-seeMore-sNight {
			background: $color-blue;
			border: 1px solid $color-medium-purple;
			box-shadow: inset -2px -2px 0 0 $color-medium-blue, inset 2px 2px 0 0 $color-secondary;

			&:hover {
				background: $color-medium-blue;
			}
		}
	}
}

.suggestions-sNight {
	.suggestions-subtitle-sNight {
		@include box-subtitle-sNight;
	}
}

.trends-sNight {
	.trends-subtitle-sNight {
		@include box-subtitle-sNight;
	}
}
