.suggestions {
	margin: 3rem 10rem;

	&__gifs {
		@include flex(center, center, null);
		margin-top: 1.9rem;

		.content {
			@include width-height-position(100%, 220px, null);
			&:hover {
				&::after {
					content: '';
					@include width-height-position(97%, 87%, absolute);
					border: 1px dotted $color-primary;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -44.6%);
				}
			}

			.gif {
				@include width-height-position(100%, 100%, null);
			}
		}
	}
}

.subtitle {
	margin: 0 auto;
	@include background-border-color($color-lighter-lower-whitePurple, 1px solid $color-whitePurple, null);
	box-shadow: inset -2px -2px 0 0 $color-lighter-low-whitePurple, inset 2px 2px 0 0 $color-purple-gray;

	h3 {
		margin: 1rem 1rem;
		font-size: 1.4rem;
	}
}

.gifContainer {
	@include flex(null, null, column);
	@include width-height-position(100%, auto, relative);
	padding: 0.2%;
	background: $color-whiteGrey;
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

	&:not(:last-child) {
		margin-right: 1rem;
	}

	&__hashtagName {
		@include flex(space-between, center, null);
		height: 2.2rem;
		padding: 0 0.5rem;
		font-size: 1.4rem;
		margin-bottom: 0.5%;
		@include background-border-color($color-bg-gradientSailorDay, null, $color-secondary);
	}
}
