.trends {
	margin: 3rem 10rem;

	&__gifs {
		@include grid(repeat(4, 1fr), repeat (3, 25rem), row dense, 1rem);
		margin-top: 1.9rem;

		.content {
			@include width-height-position(100%, 32rem, null);
			@include styleAnimation(
				$color-bg-gradientSailorDay,
				400% 400%,
				loading-animation 2s ease-in-out infinite,
				transparent
			);

			&:hover {
				box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;
				&::after {
					content: '';
					@include width-height-position(99.2%, 98.3%, absolute);
					border: 1.1px dotted $color-primary;
					@include top-left-zIndex-transform(50%, 50%, 4, translate(-50%, -50%));
				}

				&::before {
					content: '';
					@include width-height-position(100.6%, 100%, absolute);
					box-shadow: inset -3px -3px 0 0 $color-light-gray, inset 3px 3px 0 0 $color-secondary;
					@include top-left-zIndex-transform(50%, 50%, 4, translate(-50%, -50%));
				}
			}

			.gif {
				@include width-height-position(100%, 100%, null);
			}
		}

		@include keyframesAnimation;
	}
}

.column-double {
	grid-column: span 2;
}

.hover-trend-search {
	@include width-height-position(100%, auto, relative);
	@include flex(null, null, column);
	box-sizing: border-box;

	&:hover {
		background: $color-whiteGrey;
		box-shadow: inset -1px -1px 0 0 $color-light-gray, inset 1px 1px 0 0 $color-secondary;

		.hash-trend-search {
			@include width-height-position(null, 2.2rem, absolute);
			bottom: 0;
			font-size: 1.4rem;
			@include flex(null, center, null);
			@include background-border-color($color-bg-gradientSailorDay, null, $color-secondary);
		}
	}

	.hash-trend-search {
		display: none;
		width: 100%;
	}
}

/*----------------------Tablet landscape section----------------------*/
@media screen and (min-width: 900px) and (max-width: 1199px) {
	.trends {
		&__gifs {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

/*----------------------Tablet portrait section----------------------*/
@media screen and (min-width: 600px) and (max-width: 900px) {
	.trends {
		&__gifs {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

/*------------------------Mobile section----------------------*/
@media screen and (max-width: 599px) {
	.trends {
		&__gifs {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.column-double {
		grid-column: span 1;
	}
}
