.trends {
	margin: 3rem 10rem;

	&__gifs {
		display: grid;
		margin-top: 1.9rem;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat (3, 250px);
		grid-gap: 1rem;

		.content {
			width: 100%;
			height: 220px;

			&:hover {
				&::after {
					content: '';
					@include width-height-position(98%, 97.5%, absolute);
					border: 1.1px dotted $color-primary;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.gif {
				@include width-height-position(100%, 100%, null);
			}
		}
	}
}

.hover-trend-search {
	@include width-height-position(100%, auto, relative);
	@include flex(null, null, column);
	padding: 1%;

	&:hover {
		background: #e6e6e6;
		box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;

		.hash-trend-search {
			height: 2.2rem;
			font-size: 1.4rem;
			@include flex(null, center, null);
			@include background-border-color($color-bg-gradientSailorDay, null, $color-secondary);
		}
	}

	.hash-trend-search {
		display: none;
		width: 100%;
	}
}
