.arrowReturn {
	position: absolute;
	@include top-left-zIndex-transform(7.5rem, 6rem, null, null);
}

.nav {
	font-size: 1.6rem;
}

.alert {
	margin: 5rem 30%;
	padding-top: 0.01rem;
	background: $color-whiteGrey;
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

	&__nameWindow {
		@include flex(space-between, center, null);
		height: 2.4rem;
		margin: 0.2rem;
		padding: 0 1rem;
		@include background-border-color($color-bg-gradientSailorDay, null, $color-secondary);
		font-weight: bold;

		.exitButton {
			margin-top: 0.3rem;
		}
	}
}
.textAlert {
	font-size: 1.6rem;
}

.dialogueWindow {
	margin: 3.2rem 2.5rem;
	@include flex(space-around, center, null);

	&__image {
		margin-right: 1.6rem;
	}

	&__boldParagraph {
		font-weight: bold;
		margin-bottom: 1.7rem;
	}
}

.buttons-uploadPage {
	@include flex(flex-end, center, null);
	padding-right: 3.6rem;
	padding-bottom: 3.6rem;
}

/* hiding and showing information */
.gifCreation {
	margin: 5rem auto;
	padding-top: 0.01rem;
	background: $color-whiteGrey;
	@include width-height-position(86rem, auto, null);
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 2px 0 0 $color-secondary;

	&__video {
		height: 0;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		margin-top: 0.8rem;
		@include width-height-position(83.2rem, 39rem, null);

		padding: 0.2rem;
		@include background-border-color($color-secondary, 1px solid $color-mediumLow-gray, null);
		box-shadow: inset -2px -2px 0 0 $color-whiteGrey, inset 1px 1px 0 0 $color-primary;

		video,
		img {
			@include top-left-zIndex-transform(0, 0, null, null);
			@include width-height-position(100%, 100%, absolute);
		}
	}
}

/* -------------------------------- buttons ---------------------------------- */
.buttons-container {
	@include flex(space-between, center, null);
	@include width-height-position(83.2rem, 7.3rem, null);
	margin: 0 auto;
}
.buttonsUploadComplete {
	@include flex(flex-end, center, null);
}

.buttonStyle {
	display: flex;

	&__img {
		@include flex(center, center, null);
		@include width-height-position(3.6rem, 3.2rem, null);

		&--sDay {
			@include button-decoration-sDay;
			border-right: none;
		}

		&--red {
			@include button-decoration-red;
			border-right: none;
		}
	}

	&__text {
		@include flex(center, center, null);
		@include width-height-position(13.1rem, 3.2rem, null);
		text-decoration: none;
		color: $color-primary;

		&--sDay {
			@include button-decoration-sDay;
		}
		&--red {
			color: $color-secondary;
			@include button-decoration-red;
		}
	}
}

/* cronometer */
.timer {
	background: $color-secondary;
	padding: 0.5rem 1.5rem;
	border: 1px solid $color-mediumLow-gray;
	box-shadow: inset -2px -2px 0 0 $color-whiteGrey, inset 2px 2px 0 0 $color-primary;
}

.progressBar {
	height: 2rem;
}

.uploadingGif {
	@include flex(center, center, column);
	position: relative;
	img {
		@include width-height-position(5rem, 5rem, absolute);
		@include top-left-zIndex-transform(30%, 50%, null, translate(-50%, -50%));
	}
}

/*----------------------------------- Grid my gifs ------------------------------- */

.myGifs {
	margin: 3rem 10rem;

	&__gifs {
		@include grid(repeat(4, 1fr), repeat (3, 25rem), null, 1rem);
		margin-top: 1.9rem;

		.content {
			@include width-height-position(100%, 33rem, null);

			&:hover {
				&::after {
					content: '';
					@include width-height-position(99.2%, 98.3%, absolute);
					border: 1.1px dotted $color-primary;
					@include top-left-zIndex-transform(50%, 50%, 4, translate(-50%, -50%));
				}

				&::before {
					content: '';
					@include width-height-position(100.6%, 100%, absolute);
					box-shadow: inset -3px -3px 0 0 $color-light-gray, inset 3px 3px 0 0 $color-secondary;
					box-sizing: border-box;
					@include top-left-zIndex-transform(50%, 50%, 4, translate(-50%, -50%));
				}
			}

			.gif {
				@include width-height-position(100%, 100%, null);
			}
		}
	}
}

/* -----------------------------------uploaded box ----------------------- */

.gifCreation__uploaded {
	@include flex(center, null, column);
	background: $color-whiteGrey;
	@include width-height-position(86rem, 34rem, null);
	box-shadow: inset -2px -2px 0 0 $color-light-gray, inset 2px 0px 0 0 $color-secondary;
}
.uploaded-box {
	@include flex(space-around, null, null);

	.gifUploadedBox {
		@include flex(center, center, null);
		padding: 0.2rem;
		@include width-height-position(36.5rem, 19.1rem, null);
		@include background-border-color($color-secondary, 1px solid $color-mediumLow-gray, null);
		box-shadow: inset -2px -2px 0 0 $color-whiteGrey, inset 2px 2px 0 0 $color-primary;

		.gif-2 {
			@include width-height-position(100%, 100%, null);
		}
	}
}

.buttons-uploaded {
	@include flex(center, center, column);
	width: 45%;

	.successGif {
		margin-bottom: 2rem;
	}
}

.button-copy-download {
	text-decoration: none;
	@include flex(center, center, null);
	@include width-height-position(25.6rem, 3.6rem, null);
	@include background-border-color($color-secondary, 1px solid $color-primary, $color-primary);
	box-shadow: inset -1px -1px 0 0 $color-pale-purple, inset 1px 1px 0 0 $color-secondary;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&:hover {
		@include background-border-color($color-whitePurple, 1px solid $color-primary, null);

		&::before {
			content: '';
			border: 1px dotted $color-primary;
			@include width-height-position(97.7%, 80%, absolute);
			@include top-left-zIndex-transform(50%, 50%, null, translate(-50%, -50%));
		}
	}
}

.button-copy-downloadDark {
	@include background-border-color($color-primary, 1px solid $color-primary, $color-secondary);
	position: relative;
	&:hover {
		@include background-border-color($color-primary, 1px solid $color-primary, $color-secondary);
		&::before {
			content: '';
			border: 1px dotted $color-secondary;
			@include width-height-position(97.7%, 80%, absolute);
		}
	}
}

.buttonListo {
	@include flex(flex-end, null, null);
	margin: 0 auto;
	width: 79%;
	margin-top: 3rem;
}

/*----------------------------- SAILOR NIGHT UPLOAD PAGE ----------------------------------- */

.alert-sNight,
.gifCreation-sNight {
	background: $color-light-gray;
	box-shadow: inset -2px -2px 0 0 $color-medium-gray, inset 0px 0px 0 0 $color-secondary;
}

.hidden {
	display: none;
}

/*----------------------Tablet portrait section----------------------*/
@media screen and (min-width: 600px) and (max-width: 900px) {
	.myGifs {
		&__gifs {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

/*------------------------Mobile section----------------------*/
@media screen and (min-width: 489px) and (max-width: 599px) {
	.alert {
		margin: 5rem 10%;
		&__nameWindow {
			height: 3rem;
			.exitButton {
				margin-top: 0.23rem;
			}
		}
	}
	.nav {
		font-size: 1.2rem;
	}
	.myGifs {
		&__gifs {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

@media screen and (max-width: 488px) {
	.alert {
		margin: 5rem 10%;
		&__nameWindow {
			height: 3rem;
			.exitButton {
				margin-top: 0.23rem;
			}
		}
	}
	.nav {
		font-size: 1.2rem;
	}
	.myGifs {
		&__gifs {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.gifCreation {
		@include width-height-position(50rem, auto, null);
		&__video {
			@include width-height-position(45rem, 21rem, null);

			padding: 0.2rem;
		}
	}
	.buttons-container {
		@include width-height-position(46rem, 6rem, null);
	}
	.gifCreation__uploaded {
		@include width-height-position(50rem, 35rem, null);
	}
	.button-copy-download {
		@include width-height-position(15rem, 3.6rem, null);
	}
	.uploadingGif {
		img {
			top: 25%;
		}
	}
}
