/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: ChakraPetch-Regular;
  color: #110038;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* MAIN COLORS */
/*----------background Sailor day----------*/
/* Box shadow */
@font-face {
  font-family: ChakraPetch-Regular;
  src: url(../Fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: ChakraPetch-Bold;
  src: url(../Fonts/ChakraPetch-Bold.ttf);
}

.header__welcomeVisitors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.3rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.header__welcomeVisitors p {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.header__logo {
  position: absolute;
  top: 6.2rem;
  left: 10rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 4.4rem 10rem;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.4rem;
  text-align: center;
  height: 3.6rem;
  text-decoration: none;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.nav__btn--normal {
  color: #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav__btn--normal:not(:last-child) {
  margin-right: 2rem;
}

.nav__btn--dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16.7rem;
}

.nav__btn--dropdown .text {
  width: 13.1rem;
  color: #110038;
}

.nav__btn--dropdown .arrow {
  width: 3.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.nav__list {
  display: none;
  position: absolute;
  width: 14.4rem;
  background-color: #f9f9f9;
}

.nav__list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.searcher {
  margin: 0 10rem;
  height: 9.9rem;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.searcher__name {
  height: 2.4rem;
  margin: 0.2rem;
  color: white;
  font-family: ChakraPetch-Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.searcher__flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searcher__input {
  width: 90%;
  outline: none;
  font-size: 1.6rem;
  font-family: ChakraPetch-Regular;
  margin: 1.2rem 1.2rem;
  height: 4.8rem;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.searcher__button {
  color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 1rem;
  margin-right: 1.2rem;
  width: 10.2rem;
  height: 3.6rem;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  text-decoration: none;
}

.suggestions {
  margin: 3rem 10rem;
}

.suggestions__gifs {
  margin-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions__gifs .content {
  width: 100%;
  height: 220px;
}

.suggestions__gifs .content:not(:last-child) {
  margin-right: 1.5rem;
}

.suggestions__gifs .content .gif {
  width: 100%;
  height: 100%;
}

.subtitle {
  margin: 0 auto;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.subtitle h3 {
  margin: 1rem 1rem;
  font-size: 1.4rem;
}

.trends {
  margin: 3rem 10rem;
}

.trends__gifs {
  display: -ms-grid;
  display: grid;
  margin-top: 1.9rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: repeat 3, 250px;
      grid-template-rows: repeat 3, 250px;
  grid-gap: 1rem;
}

.trends__gifs .double_element1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.trends__gifs .double_element2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.trends__gifs .gif {
  width: 100%;
  height: 250px;
}

.alert {
  margin: 17.7rem 37.8rem;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.alert__nameWindow {
  height: 2.4rem;
  margin: 0.2rem;
  color: white;
  font-family: ChakraPetch-Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.dialogueWindow {
  margin: 3.2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dialogueWindow__image {
  margin-right: 1.6rem;
}

.bold-paragraph {
  font-family: ChakraPetch-Bold;
  margin-bottom: 1.7rem;
}

span {
  font-family: ChakraPetch-Bold;
}

p {
  font-size: 1.4rem;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 3.6rem;
  padding-right: 3.6rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.4rem;
  text-align: center;
  height: 3.6rem;
  text-decoration: none;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.button:not(:last-child) {
  margin-right: 1.6rem;
}

/* hiding and showing information */
.gifCreation {
  display: none;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin: 18.4rem 27.3rem;
  width: 86rem;
  height: 54.8rem;
}

.gifCreation__video {
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 83.2rem;
  height: 43.4rem;
  padding: 0.2rem;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.showCamera {
  display: block;
}

.hiddenAlert {
  display: none;
}
/*# sourceMappingURL=main.css.map */