/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: ChakraPetch-Regular;
  color: #110038;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/*--------------------------------- MAIN COLORS --------------------------------- */
/* ----------------------------------- MIXINS ------------------------------ */
@font-face {
  font-family: ChakraPetch-Regular;
  src: url(../Fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: ChakraPetch-Bold;
  src: url(../Fonts/ChakraPetch-Bold.ttf);
}

.header__welcomeVisitors {
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  padding: 0 1rem;
  color: #ffffff;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.header__logo {
  position: absolute;
  top: 6.2rem;
  left: 10rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 4.4rem 10rem;
}

.nav__btn--dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__btn--dropdown .text {
  width: 13.1rem;
  height: 3.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #110038;
  background: #f7c9f3;
  border: 0.2px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  border-right: none;
}

.nav__btn--dropdown .arrow {
  width: 3.6rem;
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7c9f3;
  border: 0.2px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.nav__list {
  display: none;
  z-index: 1;
  width: 16.7rem;
  height: 10.2rem;
  position: absolute;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.nav__list .button-inside {
  width: 15rem;
  height: 3rem;
  margin: 0.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #110038;
  text-decoration: none;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.nav__list .button-inside:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
}

.nav__btn--normal {
  width: 8rem;
  height: 3.2rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #110038;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
}

.nav__btn--normal:hover {
  border: 1px dotted #110038;
}

.nav__btn--normal:active {
  color: #b4b4b4;
  border: 1px solid transparent;
}

.dotted:hover .dotted__text {
  background: #e6bbe2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.dotted:hover .dotted__text::after {
  content: '';
  width: 95%;
  height: 80%;
  position: absolute;
  border: 1px dotted #110038;
}

.dotted:hover .dotted__arrow {
  position: relative;
  background: #e6bbe2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.dotted:hover .dotted__arrow::after {
  content: '';
  right: 5%;
  width: 83%;
  height: 80%;
  position: absolute;
  border: 1px dotted #110038;
}

/* appears when the user press the dropdown menu (select theme) */
.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* END */
.searcher {
  height: 9.9rem;
  padding: 0.2rem;
  margin: 0 10rem;
  position: relative;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.searcher__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.4rem;
  padding-left: 1rem;
  color: #ffffff;
  font-family: ChakraPetch-Bold;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.searcher__flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searcher__input {
  width: 90%;
  outline: none;
  height: 4.8rem;
  font-size: 1.6rem;
  margin: 1.2rem 1.2rem;
  border: 1px solid #979797;
  font-family: ChakraPetch-Regular;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 1px 1px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 1px 1px 0 0 #110038;
}

.help__list {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 1.6rem 0;
  top: 10.2rem;
  left: 0;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.help__list .buttonHelp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  width: 86.5%;
  padding-left: 1rem;
  height: 3.6rem;
  margin-left: 1.6rem;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.help__list .buttonHelp:hover {
  background: #e6e6e6;
}

.help__list .buttonHelp:hover::after {
  content: '';
  width: 99.6%;
  height: 90%;
  border: 1px dotted #110038;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.help__list .buttonHelp:not(:last-child) {
  margin-bottom: 1rem;
}

/* appears when the user press the dropdown help menu */
.show_helpMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  width: 14rem;
  height: 3.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #110038;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7c9f3;
  border: 0.2px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.button:not(:last-child) {
  margin-right: 2rem;
}

.button:hover {
  background: #e6bbe2;
  border: 1px solid #110038;
}

.button:hover::before {
  content: '';
  width: 95%;
  height: 80%;
  border: 1px dotted #110038;
  position: absolute;
}

.searcherbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.2rem;
  height: 3.6rem;
  color: #b4b4b4;
  padding-right: 1rem;
  margin-right: 1.2rem;
  text-decoration: none;
  border: 1px solid #808080;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.pushed_button {
  color: #110038;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  position: relative;
}

.pushed_button:active {
  background: #e6bbe2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.pushed_button:active::after {
  content: '';
  width: 96%;
  height: 90%;
  border: 1px dotted #110038;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.8%, -50%);
          transform: translate(-50.8%, -50%);
}

.button-seeMore {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  bottom: 5%;
  left: 2%;
  height: 3.2rem;
  width: 7.9rem;
  text-decoration: none;
  background: #4180f6;
  border: 1px solid #4c2f99;
  color: #ffffff;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

.button-seeMore:hover {
  background: #3a72db;
}

.button-seeMore:hover::after {
  content: '';
  width: 93%;
  height: 87%;
  border: 1px dotted #110038;
  position: absolute;
}

.bold-letter {
  font-family: ChakraPetch-Bold;
}

p {
  font-size: 1.4rem;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.suggestions {
  margin: 3rem 10rem;
}

.suggestions__gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suggestions__gifs .content {
  width: 100%;
  height: 220px;
}

.suggestions__gifs .content:hover::after {
  content: '';
  width: 97%;
  height: 87%;
  border: 1px dotted #110038;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -44.6%);
          transform: translate(-50%, -44.6%);
}

.suggestions__gifs .content .gif {
  width: 100%;
  height: 100%;
}

.subtitle {
  margin: 0 auto;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.subtitle h3 {
  margin: 1rem 1rem;
  font-size: 1.4rem;
}

.gifContainer {
  width: 25%;
  padding: 0.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #e6e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.gifContainer:not(:last-child) {
  margin-right: 1rem;
}

.gifContainer__hashtagName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2rem;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 0.5%;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.trends {
  margin: 3rem 10rem;
}

.trends__gifs {
  display: -ms-grid;
  display: grid;
  margin-top: 1.9rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: repeat 3, 250px;
      grid-template-rows: repeat 3, 250px;
  grid-gap: 1rem;
}

.trends__gifs .gif {
  width: 100%;
  height: 250px;
}

.change_color_body {
  background-color: #110038;
}

.change_color_gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.button_sailorNight {
  background: #ee3efe;
  color: #ffffff;
}

.button_sailorNight:hover {
  background: #ce36db;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.dualBtn_sailorNight:hover .textButton_sailorNight {
  color: #ffffff;
  border: 1px solid #110038;
  background: #ce36db;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.dualBtn_sailorNight:hover .arrowButton_sailorNight {
  background: #ce36db;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  border: 1px solid #110038;
}

.dualBtn_sailorNight .textButton_sailorNight {
  background: #ee3efe;
  color: #ffffff;
}

.dualBtn_sailorNight .arrowButton_sailorNight {
  background: #ee3efe;
}

.nav__list-sailorNight {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
}

.nav__list-sailorNight .button-sailorNight {
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.nav__list-sailorNight .button-sailorNight:hover {
  background: #2e32fb;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #cccccc, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #cccccc, inset 1px 1px 0 0 #ffffff;
  color: #ffffff;
}

.nav__btn--sailorNight {
  color: #ffffff;
}

.nav__btn--sailorNight:hover {
  border: 1px dotted #ffffff;
}

.nav__btn--sailorNight:active {
  color: #b4b4b4;
  border: 1px solid transparent;
}

.hashtag-color-gradient .gifContainer-sailorNight {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
}

.hashtag-color-gradient .gifContainer-sailorNight .hashtag-sailorNight {
  background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.search_container {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
}

.search_container .changeColorGradient-sNight {
  background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.search_container .help_dropd-sNight {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #ffffff;
}

.search_container .help_dropd-sNight .buttonHelp-sNight {
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.searchBtn-sNight {
  color: #808080;
}

.searchBtn-sNight-pushed {
  color: #ffffff;
  position: relative;
  border: 1px solid #110038;
  background: #ee3efe;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.searchBtn-sNight-pushed:active {
  border: 1px solid #110038;
  background: #ce36db;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.searchBtn-sNight-pushed:active::after {
  content: '';
  width: 96%;
  height: 90%;
  border: 1px dotted #110038;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.8%, -50%);
          transform: translate(-50.8%, -50%);
}

.hashtag-color-gradient .gifContainer-sailorNight .button-seeMore-sNight {
  background: #2e32fb;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2629cc, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #2629cc, inset 2px 2px 0 0 #ffffff;
}

.hashtag-color-gradient .gifContainer-sailorNight .button-seeMore-sNight:hover {
  background: #2629cc;
}

.suggestions-sNight .suggestions-subtitle-sNight {
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
}

.trends-sNight .trends-subtitle-sNight {
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
}

.alert {
  margin: 17.7rem 37.8rem;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.alert__nameWindow {
  height: 2.4rem;
  margin: 0.2rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: ChakraPetch-Bold;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.dialogueWindow {
  margin: 3.2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dialogueWindow__image {
  margin-right: 1.6rem;
}

.dialogueWindow__boldParagraph {
  font-family: ChakraPetch-Bold;
  margin-bottom: 1.7rem;
}

.buttons-uploadPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3.6rem;
  padding-bottom: 3.6rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* hiding and showing information */
.gifCreation {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin: 18.4rem 27.3rem;
  width: 86rem;
  height: 54.8rem;
}

.gifCreation__video {
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 83.2rem;
  height: 43.4rem;
  padding: 0.2rem;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 1px 1px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 1px 1px 0 0 #110038;
}

.hidden {
  display: none;
}

/* -------------------------------- buttons ---------------------------------- */
.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.3rem;
  width: 83.2rem;
  margin: 0 auto;
}

.buttonStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonStyle__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.6rem;
  height: 3.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonStyle__img--sDay {
  background: #f7c9f3;
  border: 0.2px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  border-right: none;
}

.buttonStyle__img--red {
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  border-right: none;
}

.buttonStyle__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.1rem;
  height: 3.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #110038;
}

.buttonStyle__text--sDay {
  background: #f7c9f3;
  border: 0.2px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.buttonStyle__text--red {
  color: #ffffff;
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
/*# sourceMappingURL=main.css.map */